{
    type: 'radar',
    data: {
        labels: {{ labels }},
        datasets: [{
            data: {{ data_string }},
            label: "Online"
        }]
    },
    options: {
        max: 1.0
    }
}